#welcome {
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#welcome:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}

.content-section {
  display: inline-flex;
  width: 100%;
  height: auto;
}

#about,
#projects {
  justify-content: center;
  flex-direction: column;
  padding: 3em 0 3em 0;
}

#about p {
  padding: 1em 10em;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 4em;
}

.project-grid-item {
  background-color: rgb(30, 30, 30);
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.project-grid-item-img {
  display: inline-block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-grid-item-desc {
  height: 3.5em;
  overflow: hidden;
  color: white;
}

.separator {
  background-image: url(./images/bg2.jpg);
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.separator_two {
  background-image: url(./images/bg3.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.5em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    min-width: 250px;
  }

  #welcome, .separator, .separator_two {
    background-attachment: scroll;
  }

  #about p {
    padding: 1em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  body {
    min-width: 250px;
  }

  #welcome, .separator, .separator_two {
    background-attachment: scroll;
  }

  #about p {
    padding: 1em;
  }
}
