body {
  background: rgb(30, 30, 30);
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

header {
  font-size: 2em;
  font-weight: 900;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  color: rgb(0, 255, 255);
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(40, 255, 40);
}

a {
  text-decoration: none;
  color: rgb(220, 50, 90);
  transition: color 0.25s ease;
}

a:hover {
  color: rgb(255, 255, 0);
}

table {
  border: 0.1em solid rgb(40, 40, 40);
  border-spacing: 0;
  empty-cells: show;
  margin-left: 4em;
  width: auto;
  max-width: 50%;
  overflow: hidden;
  table-layout: fixed;
  text-align: left;
  vertical-align: bottom;
}

th {
  background-color: rgb(30, 30, 30);
  margin: 0.5em;
  padding: 0.5em 1.5em 0.5em 1em;
}

td {
  margin: 0.5em;
  padding: 0.5em 1.5em 0.5em 1em;
}

tr:nth-child(odd) {
  background-color: rgb(40, 40, 40);
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding-left: 1em;
  line-height: 1.5;
  max-width: 50%;
}

#main-doc a {
  font-weight: 700;
  color: rgb(255, 255, 0);
}

#main-doc a:hover {
  color: rgb(220, 50, 90);
}

#main-doc h2 {
  padding-left: 1.25em;
}

#main-doc p {
  padding-left: 3em;
}

.main-section {
  font-size: 1em;
}

.main-section-desc {
  font-style: italic;
}

.main-section-figure {
  display: inline-block;
  max-width: 100%;
  margin: 0.5em 0.5em 0.5em 3em;
  border: 2px solid rgb(40, 40, 40);
}

.main-section-figcaption {
  background-color: rgb(40, 40, 40);
  font-size: 0.8em;
  color: rgb(255, 255, 0);
  padding: 0.5em;
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
  height: 100%;
  width: 275px;
  padding-left: 1em;
  border-right: 1px solid rgb(40, 40, 40);
}

.navbar-home-link {
  color: white;
}

#navbar ul {
  padding-inline-start: 0;
}

#navbar li {
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1px;
}

code {
  background-color: rgb(50, 50, 50);
  display: inline-block;
  font-size: 1.25em;
  margin-left: 3em;
  padding: 1em;
  line-height: 1.25;
  width: auto;
}

strong {
  font-style: italic;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1em;
  }
}

/* iphone xs */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {
    #navbar {
      display: none;
    }
    #main-doc {
      max-width: 95%;
      margin: 0;
    }
  }